body {
    background-color: rgb(243, 241, 241);
}

.app-login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    form {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        min-height: 30vh;
    }
}

tbody {
    tr {
        &:hover {
            background-color: rgb(193, 237, 255);
        }
    }
}


.MuiButton-label {
    font-weight: bold;
}

.visit-button {
    background-color: rgb(88, 88, 255);
    border: 0;
    padding: 1.5rem;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 5px;
}

.App {
    width: 100vw;
}

.interview-answer {
    background-color: rgb(231, 231, 231);
    padding: 1rem;
    
}
